<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %} {% endblock %} AriaKaro </title>
</head>
<body>
    <nav>
        <a href="{{ url_for('login') }}" class="aria-factor" style="color: rgb(54, 54, 54);">AriaKaro Factorial - </a>
        <a href="{{ url_for('edit', factor_id=1) }}" class="aria-create" style="color: rgb(66, 66, 66);">Edit -</a>
        <link rel = "stylesheet" 
        href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </nav>
    <hr>
    <div class="content">
        {% block  content %}{% endblock %}
    </div>
</body>
</html>